<!DOCTYPE html>
html(lang='en')
    //-HEAD
    head
        block head
        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width, initial-scale=1.0') 
        link(href='https://fonts.googleapis.com/css?family=Lato:300,300i,700' rel='stylesheet')
        link(rel='stylesheet' href='/css/style.css') 
        link(rel='shortcut icon' type='image/png' href='/img/favicon.png')
        title Natours | #{title}

        
    body.body
        //-HEADER
        include _header
        
        
        //-CONTENT
        block content 
         h1 base page

        //-FOOTER
        include _footer

        block mapboxScript
        script(src='https://js.stripe.com/v3/')
        script(src='/js/login.js')
    