doctype html
html
    head
        meta(name='viewport' content='width=device-width')
        meta(http-equiv='Content-Type' content='text/html; charset=UTF-8')
        title Simple Transactional Email
        include _style
    body
        span.preheader This is preheader text. Some clients will show this text as a preview.
        table.body(role='presentation' border='0' cellpadding='0' cellspacing='0')
            tr
                td &nbsp;
                td.container
                    .content
                        // START CENTERED WHITE CONTAINER
                        table.main(role='presentation')
                            // START MAIN CONTENT AREA
                            block contento
                            // END MAIN CONTENT AREA
                            // END CENTERED WHITE CONTAINER
                            // START FOOTER
                            .footer
                                table(role='presentation' border='0' cellpadding='0' cellspacing='0')
                                    tr
                                        td.content-block
                                            span.apple-link Company Inc, 3 Abbey Road, San Francisco CA 94102
                                            br
                                            | Don't like these emails?
                                            a(href='http://i.imgur.com/CScmqnj.gif') Unsubscribe
                                            | .
                                    tr
                                        td.content-block.powered-by
                                            | Powered by
                                            a(href='http://htmlemail.io') HTMLemail
                                            | .
                            // END FOOTER
                td &nbsp;
