extends base

block content 
    main.main
        .user-view
            nav.user-view__menu
                ul.side-nav
                    li.side-nav--active
                        a(href='#')
                            svg
                                use(xlink:href='img/icons.svg#icon-settings')
                            | Settings
                    li
                        a(href='/myTours')
                            svg
                                use(xlink:href='img/icons.svg#icon-briefcase')
                            | My bookings
                    li
                        a(href='#')
                            svg
                                use(xlink:href='img/icons.svg#icon-star')
                            | My reviews
                    li
                        a(href='#')
                            svg
                                use(xlink:href='img/icons.svg#icon-credit-card')
                            | Billing
                if user            
                    if user.role === 'admin'           
                        .admin-nav
                            h5.admin-nav__heading Admin
                            ul.side-nav
                                li
                                    a(href='#')
                                        svg
                                            use(xlink:href='img/icons.svg#icon-map')
                                        | Manage tours
                                li
                                    a(href='#')
                                        svg
                                            use(xlink:href='img/icons.svg#icon-users')
                                        | Manage users
                                li
                                    a(href='#')
                                        svg
                                            use(xlink:href='img/icons.svg#icon-star')
                                        | Manage reviews
                                li
                                    a(href='#')
                                        svg
                                            use(xlink:href='img/icons.svg#icon-briefcase')

            .user-view__content
                .user-view__form-container
                    h2.heading-secondary.ma-bt-md Your account settings
                    form.form.form-user-data
                        .form__group
                            label.form__label(for='name') Name
                            input#name.form__input(type='text', value=`${user.name}`, required)
                        .form__group.ma-bt-md
                            label.form__label(for='email') Email address
                            input#email.form__input(type='email', value=`${user.email}`, required)
                        .form__group.form__photo-upload
                            img.form__user-photo(src=`/img/users/${user.photo ? user.photo : 'default.jpg'}`, alt=`${user.name} photo`)
                            input.form__upload( type='file' accept='image/*' id='upload-photo')
                            label(for='upload-photo') Chose new photo
                        .form__group.right
                            button.btn.btn--small.btn--green.btn--me Save settings
                .line &nbsp;
                .user-view__form-container
                    h2.heading-secondary.ma-bt-md Password change
                    form.form.form-user-settings
                        .form__group
                            label.form__label(for='password-current') Current password
                            input#password-current.form__input(type='password', placeholder='••••••••', required, minlength='8')
                        .form__group
                            label.form__label(for='password') New password
                            input#password.form__input(type='password', placeholder='••••••••', required, minlength='8')
                        .form__group.ma-bt-lg
                            label.form__label(for='password-confirm') Confirm password
                            input#password-confirm.form__input(type='password', placeholder='••••••••', required, minlength='8')
                        .form__group.right
                            button.btn.btn--small.btn--green.btn--password Save password
