extends base

mixin overviewBox(description, text, icon)
    .overview-box__detail
        svg.overview-box__icon
            use(xlink:href=`/img/icons.svg#${icon}`)
        span.overview-box__label= description
        span.overview-box__text= text
block append head
    script(src='https://api.mapbox.com/mapbox-gl-js/v2.1.1/mapbox-gl.js')
    link(href='https://api.mapbox.com/mapbox-gl-js/v2.1.1/mapbox-gl.css' rel='stylesheet')

block mapboxScript
    script(src='/js/mapbox.js')
block content 
    section.section-header
        .header__hero
            .header__hero-overlay &nbsp;
            img.header__hero-img(src=`/img/tours/${tour.imageCover}`, alt=`${tour.name} cover image`)
        .heading-box
            h1.heading-primary
                span= `${tour.name}`
            .heading-box__group
                .heading-box__detail
                    svg.heading-box__icon
                        use(xlink:href='/img/icons.svg#icon-clock')
                    span.heading-box__text= `${tour.duration} days`
                .heading-box__detail
                    svg.heading-box__icon
                        use(xlink:href='/img/icons.svg#icon-map-pin')
                    span.heading-box__text= `${tour.startLocation.description}`
    section.section-description
        .overview-box
            div
                .overview-box__group
                    h2.heading-secondary.ma-bt-lg Quick facts
                    +overviewBox('Next date', new Intl.DateTimeFormat('en-US', {year: 'numeric',month:'long'}).format(new Date(tour.startDates[0])) , 'icon-calendar')
                    +overviewBox('difficulty', tour.difficulty , 'icon-trending-up')
                    +overviewBox('Participants', tour.maxGroupSize , 'icon-user')
                    +overviewBox('Rating', tour.ratingsAverage , 'icon-star')
                    
                .overview-box__group
                    h2.heading-secondary.ma-bt-lg Your tour guides
                    each guide in tour.guides 
                        .overview-box__detail
                            img.overview-box__img(src=`/img/users/${guide.photo}`, alt=`${guide.role}`)
                            span.overview-box__label= guide.role
                            span.overview-box__text= guide.name
                        
        .description-box
            h2.heading-secondary.ma-bt-lg= `About ${tour.name}`
            if tour.description
                each desc in tour.description.split('\n')
                    p.description__text= `${desc}`
    section.section-pictures
        if tour.images
            each image,i  in tour.images    
                .picture-box
                    img.picture-box__img(class=`picture-box__img--${i + 1}` src=`/img/tours/${image}`, alt='The Park Camper Tour 1')
        
    section.section-map
        #map(data-locations=`${JSON.stringify(tour.locations)}`)
    section.section-reviews
        .reviews
            if tour.reviews
                each review in tour.reviews
                    .reviews__card
                        .reviews__avatar
                            img.reviews__avatar-img(src=`/img/users/${review.user.photo}`, alt='Jim Brown')
                            h6.reviews__user= `${review.user.name}`
                        p.reviews__text= `${review.review}`
                        .reviews__rating
                            - const remain = 5 - review?.rating
                            - for(let i = 0; i < review?.rating; i++)
                                svg.reviews__star.reviews__star--active
                                    use(xlink:href='/img/icons.svg#icon-star')
                            - for(let i = 0; i < remain; i++)
                                svg.reviews__star.reviews__star--inactive
                                    use(xlink:href='/img/icons.svg#icon-star')        
                            
    section.section-cta
        .cta
            .cta__img.cta__img--logo
                img(src='/img/logo-white.png', alt='Natours logo')
            img.cta__img.cta__img--1(src=`/img/tours/${tour.images[0]}`, alt=`${tour.name} image-1`)
            img.cta__img.cta__img--2(src=`/img/tours/${tour.images[1]}`, alt=`${tour.name} image-2`)
            .cta__content
                h2.heading-secondary What are you waiting for?
                p.cta__text #{tour.duration} days. 1 adventure. Infinite memories. Make it yours today!
                if user
                    button#stripeBtn.btn.btn--green.span-all-rows(data-tour-id= tour.id) Book tour now!
                else
                    a.btn.btn--green.span-all-rows(href='/login') Please login