extends baseEmail 

block contento

    tr
        td.wrapper
            table(role='presentation' border='0' cellpadding='0' cellspacing='0')
                tr
                    td
                        p Hi #{firstName},
                        p= subject
                        table.btn.btn-primary(role='presentation' border='0' cellpadding='0' cellspacing='0')
                            tbody
                                tr
                                    td(align='left')
                                        table(role='presentation' border='0' cellpadding='0' cellspacing='0')
                                            tbody
                                                tr
                                                    td
                                                        a(href= url target='_blank') Call To Action
                        p This is a really simple email template. Its sole purpose is to get the recipient to click the button with no distractions.
                        p Good luck! Hope it works.